*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  padding-top: 120px;
}

@keyframes comingRight {
  from{
    transform: translateX(-600px);
    opacity: 0.5;
    scale: 0.5;
  }

  to{
    transform: translateX(0px);
    opacity: 1;
    scale: 1;
  }
}

@keyframes comingLeft {
  from{
    transform: translateX(600px);
    opacity: 0.5;
    scale: 0.5;
  }

  to{
    transform: translateX(0px);
    opacity: 1;
    scale: 1;
  }
}

.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  padding-top: 15px;
  z-index: 100;
  /* background-color: rgba(199, 187, 171, 1); */
  height: 100px;
}

.logo{
  width: 170px;
}

nav{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

nav a{
  margin-right: 15px;
  font-family: Newsreader;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
  color: black;
  text-decoration: none;
}

nav a:hover{
  color: grey;
  text-decoration: underline;
}

nav img{
  display: none;
}

.sidebar{
  display: none;
}

@media(max-width:650px) {
  nav img{
    display: block;
    cursor: pointer;
  }

  nav a{
    display: none;
  }
}

@keyframes sidebarAppearing {
    from{
      transform: translateY(-200px);
      opacity: 0.3;
    }

    to{
      transform: translateY(-0px);
      opacity: 1;
    }
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.nav a{
  font-family: Newsreader;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: all 0.2s;
  color: black;
  text-decoration: none;
}

.nav a:hover{
  color: grey;
  text-decoration: underline;
}

.container-close{
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 15px 15px 0px 0px;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: beige;
  z-index: 999; 
}

.sidebar.open {
  display: block;
  animation: sidebarAppearing 0.5s;
}

.container-close img{
  cursor: pointer;
  width: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 5;
  display: none;
}

.overlay.active {
  display: block;
}


.hero-section{
  display: flex;
  width: 80%;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

.hero-section img{
  width: 100%;
  max-width: 400px;
}

.hero-text-container{
  width: 100%;
  max-width: 400px;
}

.hero-text-container h1{
  font-family: Elsie Swash Caps;
  font-size: 45px;
  margin-bottom: 15px;
  animation: comingRight 1.5s ease-out;
}

.hero-text-container p{
  font-family: Newsreader;
  font-size: 20px;
  color: rgb(71, 71, 71);
  margin-bottom: 15px;
  animation: comingLeft 1.5s ease-out;
}

@keyframes picture{
  from{
    scale: 0.3;
    opacity: 0.3;
  }

  to{
    scale: 1;
    opacity: 1;
  }
}

.hero-text-container button{
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgba(188, 222, 241, 1);
  cursor: pointer;
  font-family: Newsreader;
  font-size: 18px;
  transition: all 0.3s;
}

.hero-text-container button:hover{
  background-color: rgb(140, 203, 240);
  transform: scale(1.05);
}

.hero-text-container button:active{
   background-color: rgb(98, 189, 241);
}

@media(max-width:650px){
  .hero-section{
    flex-direction: column;
  }

  .hero-text-container{
    margin-bottom: 40px;
  }
}

.information-section{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  margin-top: 70px;
}

.container-salon{
  position: relative;
}

.container-salon::before{
  content: "";
  position: absolute;
  background-color: rgba(188, 222, 241, 1);
  width: 80px;
  height: 80px;
  top: -50px;
  left: -50px;
  z-index: -1;
  border-radius: 100px;
  animation: comingRight 1.5s ease-out;
}

.information-section img{
  width: 100%;
  max-width: 300px;
}

.information-text-container h2{
  font-family: Elsie Swash Caps;
  font-size: 30px;
  margin-bottom: 55px;
  animation: comingLeft ;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.information-text-container p{
  font-family: Newsreader;
  font-size: 20px;
  color: rgb(71, 71, 71);
  margin-bottom: 15px;
  animation: comingRight ;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media(max-width:650px){
  .information-section{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .information-text-container{
    margin-bottom: 20px;
  }
}

.端ber-uns-section{
  width: 100%;
  height: 300px;
  background-color: rgba(199, 187, 171, 1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid rgba(74, 46, 27, 1);
  position: relative;
}

.端ber-uns-section::before{
  content: '';
  position: absolute;
  background-color: rgba(188, 222, 241, 1);
  width: 150px;
  height: 150px;
  z-index: -1;
  top: -90px;
  border-radius: 200px;
  left: 60px;
  animation: comingLeft;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes appearing {
  from{
    scale: 0.5;
    opacity: 0.5;
  }

  to{
    scale:1;
    opacity: 1;
  }
}

.端ber-uns-section h2{
  font-family: Elsie Swash Caps;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.端ber-uns-section p{
  font-family: Newsreader;
  font-size: 20px;
  color: rgb(71, 71, 71);
  max-width: 700px;
  width: 80%;
  animation: appearing;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.service-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service-section h2{
  font-family: Elsie Swash Caps;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.card img{
  width: 100%;
  border: 10px solid rgba(237, 230, 214, 1);
  transition: scale 0.75s;
}

.card{
  max-width: 400px;
  width: 60%;
  margin-bottom: 20px;
}

.card img:hover{
  scale: 1.05;
}

.card h3{
  font-family: Elsie Swash Caps;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  animation: comingRight;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.card p{
  font-family: Newsreader;
  font-size: 18px;
  color: rgb(71, 71, 71);
  animation: comingLeft;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media(min-width:1500px) {

.card:nth-of-type(2) {
  position: relative;
}

.card:nth-of-type(2)::after{
  content: url(Images/Design_ohne_Titel__1_-removebg-preview.png);
  position: absolute;
  right: -400px;
  bottom: -600px;
  scale: 1.5;
}

.card:nth-of-type(1)::after{
  content: url(Images/326596_content_cut_scissors_icon.svg);
  position: absolute;
  left: -220px;
  top: 300px;
  scale: 10;
  transform: rotateZ(90deg);
}

.card:nth-of-type(2)::before{
  content: url(Images/Design_ohne_Titel__1_-removebg-preview.png);
  position: absolute;
  left: -400px;
  top: -600px;
  scale: 1.5;
  transform: rotateZ(180deg);
}
}

.card:nth-of-type(1) {
  position: relative;
}

.card:nth-of-type(1)::before{
  content: '';
  position: absolute;
  background-color: rgba(188, 222, 241, 1);
  width: 150px;
  height: 150px;
  z-index: -1;
  top: -70px;
  border-radius: 200px;
  right: -70px;
  animation: comingRight;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}



.contact-section{
  width: 80%;
  margin-inline: auto;
  margin-top: 50px;
}

.container-contact{
  width: 100%;
  display: flex;
  justify-content: end;
}

.container-contact h2{
  font-family: Elsie Swash Caps;
  font-size: 30px;
}

.container-contact-section{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.contact-info{
  width: 100%;
}

.contact-info img{
  width: 30px;
  margin-right: 10px;
}

.contact-info-text{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-info-text p{
  font-family: Newsreader;
  font-size: 18px;
}

iframe{
  width: 100%;
  height: 250px;
  margin-top: 50px;
  max-width: 550px;
}

.iframe-container{
  position: relative;
  width: 100%;
}

.iframe-container::before{
 content: '';
 position: absolute;
 width: 100px;
 height: 100px;
 background-color: rgba(188, 222, 241, 1);
 border-radius: 100px;
 z-index: -1;
 left: -50px;
 animation: comingLeft;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.form-container{
  background-color: rgba(237, 230, 214, 1);
  margin-left: 40px;
  height: 400px;
  width: 50%;
  border-radius: 20px;
  max-width: 400px;
  background-image: url(Images/image-removebg-preview\ \(1\).png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right 0 bottom -20px;
}

form{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: 100%;
}

form input{
  outline: none;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: rgba(250, 249, 249, 1);
  font-family: Newsreader;
  font-size: 16px;;
}

form button{
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: rgba(250, 249, 249, 1);
  font-family: Newsreader;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover{
  transform: scale(1.05);
  background-color: rgb(230, 230, 230);
}

form button:active{
  background-color: rgb(203, 203, 203);
}

@media(max-width:650px){
    .container-contact{
      justify-content: center;
    }
    .container-contact-section{
      flex-direction: column;
      align-items: center;
    }
    .form-container{
      justify-content: center;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
}

.produkte-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}

.produkte-section h2{
  font-family: Elsie Swash Caps;
  font-size: 30px;
  text-align: center;
}

.logo-container img{
  width: 25%;
  margin-inline: 15px;
  animation: appearing;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.logo-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-container img{
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.footer{
  background-color: rgba(199, 187, 171, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-top: 60px;
  padding-inline: 20px;
  position: relative;
}

.footer::after{
  content: '';
  position: absolute;
  z-index: -1;
  height: 150px;
  width: 150px;
  border-radius: 200px;
  background-color: rgba(188, 222, 241, 1);
  top: -70px;
  right: 30px;
  animation: comingRight;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.footer-info{
  display: flex;
}

.footer-info p{
  font-family: Newsreader;
  font-size: 16px;
  margin-right: 20px;
}

@media(max-width:650px){
  .logo-container{
    flex-direction: column-reverse;
    justify-content: center;

  }

  .logo-container img{
    width: 40%;
    margin-inline: 0px;
    margin-block: 10px;
  }

  .footer{
    flex-direction: column;
    padding-block: 20px;
  }

}





